In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\\Users\\lukvi\\Python Fun\\NBA-Data\\traditional.csv")

In [6]:
df.loc[df["player"]=="Michael Jordan", "playerid"]

0         893
367       893
717       893
881       893
1212      893
         ...
165914    893
166196    893
166394    893
166679    893
166980    893
Name: playerid, Length: 346, dtype: int64

In [7]:
seasonal_stats = df.drop(columns=["date","home","away"])
seasonal_stats = seasonal_stats.groupby(["season","playerid"]).agg({
                                                    "player":lambda x: x.iloc[0],
                                                   "team":[lambda x: list(set(x)),lambda x: len(set(x))],
                                                   "PTS":["mean","sum"],
                                                   "REB":["mean","sum"],
                                                   "AST":["mean","sum"],
                                                   "STL":["mean","sum"],
                                                   "BLK":["mean","sum"],
                                                   "gameid": lambda x:len(x)
                                                   })
seasonal_stats

                            player       team                   PTS       \
                          <lambda> <lambda_0> <lambda_1>       mean  sum
season playerid
1997   2               Byron Scott      [LAL]          1   6.632184  577
       3                Grant Long      [DET]          1   5.014286  351
       7               Dan Schayes      [ORL]          1   3.100000  155
       9            Sedale Threatt      [HOU]          1   3.486486  129
       15          Eric Piatkowski      [LAC]          1   5.941176  404
...                            ...        ...        ...        ...  ...
2023   1631323   Simone Fontecchio      [UTA]          1   6.307692  328
       1631367       Jacob Gilyard      [MEM]          1   3.000000    3
       1631466       Nate Williams      [POR]          1  10.600000   53
       1631495    Donovan Williams      [ATL]          1   2.000000    4
       1641645        Xavier Cooks      [WAS]          1   3.800000   38

                      REB            AST            STL           BLK      \
                     mean  sum      mean  sum      mean sum      mean sum
season playerid
1997   2         1.494253  130  1.264368  110  0.540230  47  0.183908  16
       3         3.328571  233  0.600000   42  0.671429  47  0.085714   6
       7         2.740000  137  0.380000   19  0.340000  17  0.340000  17
       9         1.108108   41  2.378378   88  0.567568  21  0.189189   7
       15        1.573529  107  0.764706   52  0.500000  34  0.147059  10
...                   ...  ...       ...  ...       ...  ..       ...  ..
2023   1631323   1.653846   86  0.807692   42  0.288462  15  0.153846   8
       1631367   4.000000    4  7.000000    7  3.000000   3  0.000000   0
       1631466   3.000000   15  2.000000   10  0.600000   3  0.400000   2
       1631495   1.000000    2  0.000000    0  0.000000   0  0.000000   0
       1641645   3.800000   38  0.600000    6  0.600000   6  0.400000   4

                  gameid
                <lambda>
season playerid
1997   2              87
       3              70
       7              50
       9              37
       15             68
...                  ...
2023   1631323        52
       1631367         1
       1631466         5
       1631495         2
       1641645        10

[12856 rows x 14 columns]

In [8]:
# seasonal_stats[seasonal_stats["PTS"]["mean"] == seasonal_stats["PTS"]["mean"].max()]
# Order the list by player
seasonal_stats.groupby(("player","<lambda>")).apply(lambda x:x)

                                                player        team             \
                                              <lambda>  <lambda_0> <lambda_1>
(player, <lambda>) season playerid
A.C. Green         1997   920               A.C. Green  [PHX, DAL]          2
                   1998   920               A.C. Green       [DAL]          1
                   1999   920               A.C. Green       [DAL]          1
                   2000   920               A.C. Green       [LAL]          1
                   2001   920               A.C. Green       [MIA]          1
...                                                ...         ...        ...
Zydrunas Ilgauskas 2009   980       Zydrunas Ilgauskas       [CLE]          1
                   2010   980       Zydrunas Ilgauskas       [CLE]          1
                   2011   980       Zydrunas Ilgauskas       [MIA]          1
Zylan Cheatham     2020   1629597       Zylan Cheatham       [NOP]          1
                   2022   1629597       Zylan Cheatham       [UTA]          1

                                          PTS            REB            AST  \
                                         mean  sum      mean  sum      mean
(player, <lambda>) season playerid
A.C. Green         1997   920        7.192771  597  7.903614  656  0.831325
                   1998   920        7.317073  600  8.146341  668  1.500000
                   1999   920        4.920000  246  4.560000  228  0.500000
                   2000   920        4.790476  503  5.542857  582  0.885714
                   2001   920        4.352941  370  3.729412  317  0.482353
...                                       ...  ...       ...  ...       ...
Zydrunas Ilgauskas 2009   980       12.468354  985  7.582278  599  1.025316
                   2010   980        6.845070  486  5.014085  356  0.718310
                   2011   980        4.839506  392  3.938272  319  0.358025
Zylan Cheatham     2020   1629597    3.000000   12  2.250000    9  0.750000
                   2022   1629597    0.000000    0  0.000000    0  0.000000

                                              STL           BLK       gameid
                                    sum      mean sum      mean sum <lambda>
(player, <lambda>) season playerid
A.C. Green         1997   920        69  0.843373  70  0.192771  16       83
                   1998   920       123  0.951220  78  0.329268  27       82
                   1999   920        25  0.560000  28  0.160000   8       50
                   2000   920        93  0.638095  67  0.200000  21      105
                   2001   920        41  0.364706  31  0.094118   8       85
...                                 ...       ...  ..       ...  ..      ...
Zydrunas Ilgauskas 2009   980        81  0.417722  33  1.227848  97       79
                   2010   980        51  0.197183  14  0.802817  57       71
                   2011   980        29  0.283951  23  0.753086  61       81
Zylan Cheatham     2020   1629597     3  0.250000   1  0.250000   1        4
                   2022   1629597     0  0.000000   0  0.000000   0        1

[12856 rows x 14 columns]

In [9]:
# # reg_seasonal_stats = df.drop(columns=["date","home","away"])
# # reg_seasonal_stats = reg_seasonal_stats.loc[reg_seasonal_stats["type"] != "playoff"].groupby(["season","playerid"]).agg({
#                                                 "player":lambda x: x.iloc[0],
#                                                    "team":[lambda x: list(set(x)),lambda x: len(set(x))],
#                                                    "PTS":["mean","sum"],
#                                                    "REB":["mean","sum"],
#                                                    "AST":["mean","sum"],
#                                                    "STL":["mean","sum"],
#                                                    "BLK":["mean","sum"],
#                                                    "gameid": lambda x:len(x)
#                                                    })
# # seasonal_stats.info()

In [10]:
# Order the list by player to get player regular season stats
# reg_seasonal_stats.groupby(("player","<lambda>")).apply(lambda x:x)

In [11]:
reg_seasonal_stats = df.drop(columns=["date","home","away"]).loc[df["type"] != "playoff"]
reg_seasonal_stats = reg_seasonal_stats.groupby(["season","playerid"],as_index=False).agg({
                                                    "player":lambda x: x.iloc[0],
                                                   "team":[lambda x: list(set(x)),lambda x: len(set(x))],
                                                   "PTS":["mean","sum"],
                                                   "REB":["mean","sum"],
                                                   "AST":["mean","sum"],
                                                   "STL":["mean","sum"],
                                                   "BLK":["mean","sum"],
                                                   "gameid": lambda x:len(x)
                                                   })
reg_seasonal_stats.rename(columns = {"gameid":"games played"},inplace=True)

In [12]:
#Show point leaders by season -- last bit to reorder by season
pts_leaders = reg_seasonal_stats.sort_values(("PTS","mean"),ascending=False).drop_duplicates(("season",""),keep="first").sort_values("season")
pts_leaders

      season playerid             player       team                   PTS  \
                                <lambda> <lambda_0> <lambda_1>       mean
310     1997      893     Michael Jordan      [CHI]          1  29.646341
714     1998      893     Michael Jordan      [CHI]          1  28.743902
1145    1999      947      Allen Iverson      [PHI]          1  26.750000
1459    2000      406   Shaquille O'Neal      [LAL]          1  29.670886
1969    2001      947      Allen Iverson      [PHI]          1  31.084507
2363    2002      947      Allen Iverson      [PHI]          1  31.383333
2817    2003     1503      Tracy McGrady      [ORL]          1  32.093333
3222    2004     1503      Tracy McGrady      [ORL]          1  28.029851
3596    2005      947      Allen Iverson      [PHI]          1  30.693333
4045    2006      977        Kobe Bryant      [LAL]          1  35.400000
4484    2007      977        Kobe Bryant      [LAL]          1  31.558442
5107    2008     2544       LeBron James      [CLE]          1  30.000000
5519    2009     2548        Dwyane Wade      [MIA]          1  30.202532
6087    2010   201142       Kevin Durant      [OKC]          1  30.146341
6491    2011   201142       Kevin Durant      [OKC]          1  27.705128
6910    2012   201142       Kevin Durant      [OKC]          1  28.030303
7237    2013     2546    Carmelo Anthony      [NYK]          1  28.656716
7784    2014   201142       Kevin Durant      [OKC]          1  32.012346
8269    2015   201566  Russell Westbrook      [OKC]          1  28.149254
8766    2016   201939      Stephen Curry      [GSW]          1  30.063291
9182    2017   201566  Russell Westbrook      [OKC]          1  31.580247
9666    2018   201935       James Harden      [HOU]          1  30.430556
10181   2019   201935       James Harden      [HOU]          1  36.128205
10688   2020   201935       James Harden      [HOU]          1  34.338235
11204   2021   201939      Stephen Curry      [GSW]          1  32.169231
11850   2022   203954        Joel Embiid      [PHI]          1  30.573529
12420   2023   203954        Joel Embiid      [PHI]          1  33.075758

                   REB              AST            STL            BLK       \
        sum       mean   sum       mean  sum      mean  sum      mean  sum
310    2431   5.878049   482   4.292683  352  1.707317  140  0.536585   44
714    2357   5.792683   475   3.451220  283  1.719512  141  0.548780   45
1145   1284   4.916667   236   4.645833  223  2.291667  110  0.145833    7
1459   2344  13.645570  1078   3.784810  299  0.455696   36  3.025316  239
1969   2207   3.845070   273   4.577465  325  2.507042  178  0.281690   20
2363   1883   4.483333   269   5.516667  331  2.800000  168  0.216667   13
2817   2407   6.506667   488   5.480000  411  1.653333  124  0.786667   59
3222   1878   6.000000   402   5.522388  370  1.388060   93  0.626866   42
3596   2302   3.986667   299   7.946667  596  2.400000  180  0.120000    9
4045   2832   5.312500   425   4.500000  360  1.837500  147  0.375000   30
4484   2430   5.701299   439   5.363636  413  1.441558  111  0.467532   36
5107   2250   7.893333   592   7.186667  539  1.840000  138  1.080000   81
5519   2386   5.037975   398   7.455696  589  2.189873  173  1.341772  106
6087   2472   7.597561   623   2.817073  231  1.365854  112  1.024390   84
6491   2161   6.833333   533   2.743590  214  1.128205   88  0.974359   76
6910   1850   7.984848   527   3.500000  231  1.333333   88  1.166667   77
7237   1920   6.865672   460   2.552239  171  0.776119   52  0.477612   32
7784   2593   7.382716   598   5.493827  445  1.271605  103  0.728395   59
8269   1886   7.283582   488   8.567164  574  2.089552  140  0.208955   14
8766   2375   5.443038   430   6.670886  527  2.139241  169  0.189873   15
9182   2558  10.666667   864  10.370370  840  1.629630  132  0.382716   31
9666   2191   5.402778   389   8.750000  630  1.750000  126  0.694444   50
10181  2818   6.641026   518   7.512821  586  2.025641  158  0.743590   58
10688  2335   6.558824   446   7.529412  512  1.838235  125  0.882353   60
11204  2091   5.476923   356   5.707692  371  1.230769   80  0.123077    8
11850  2079  11.705882   796   4.176471  284  1.132353   77  1.455882   99
12420  2183  10.151515   670   4.151515  274  1.000000   66  1.696970  112

      games played
          <lambda>
310             82
714             82
1145            48
1459            79
1969            71
2363            60
2817            75
3222            67
3596            75
4045            80
4484            77
5107            75
5519            79
6087            82
6491            78
6910            66
7237            67
7784            81
8269            67
8766            79
9182            81
9666            72
10181           78
10688           68
11204           65
11850           68
12420           66

In [13]:
# Find all triple doubles in the regular season
traditional_reg = df.loc[df["type"] != "playoff"]
off_stats = traditional_reg[["PTS","REB","AST","STL","BLK"]]
triple_doubles = traditional_reg[(off_stats[off_stats.columns]>10).sum(1) > 2]
#triple_doubles.to_csv("triple_doubles.csv",index = False)

In [16]:
# Count the number of triple doubles
td_leaders = triple_doubles.groupby("player",).apply(lambda x: x)["player"].value_counts()
td_leaders

player
Russell Westbrook    133
LeBron James          54
Nikola Jokic          51
Jason Kidd            36
James Harden          34
                    ...
Jay Williams           1
Jamal Mashburn         1
Jamaal Tinsley         1
Jalen Rose             1
Joe Johnson            1
Name: count, Length: 115, dtype: int64

In [19]:
td_top_6 = td_leaders.index[0:5]

In [20]:
# Show a specific players td's
triple_doubles.groupby("player").apply(lambda x: x).loc[td_top_6]

                            gameid        date     type  playerid  \
player
Russell Westbrook 367876  21000688  2011-01-28  regular    201566
                  470811  21400593  2015-01-16  regular    201566
                  473485  21400723  2015-02-02  regular    201566
                  476356  21400855  2015-02-26  regular    201566
                  476481  21400869  2015-02-27  regular    201566
...                            ...         ...      ...       ...
James Harden      657940  22100542  2022-01-01  regular    201935
                  661698  22100718  2022-01-25  regular    201935
                  684853  22200480  2022-12-23  regular    201935
                  687329  22200596  2023-01-08  regular    201935
                  687653  22200612  2023-01-10  regular    201935

                                     player team home away  MIN  PTS  ...  \
player                                                                ...
Russell Westbrook 367876  Russell Westbrook  OKC  OKC  WAS   45   35  ...
                  470811  Russell Westbrook  OKC  OKC  GSW   36   17  ...
                  473485  Russell Westbrook  OKC  OKC  ORL   38   25  ...
                  476356  Russell Westbrook  OKC  PHX  OKC   43   39  ...
                  476481  Russell Westbrook  OKC  POR  OKC   37   40  ...
...                                     ...  ...  ...  ...  ...  ...  ...
James Harden      657940       James Harden  BKN  BKN  LAC   40   34  ...
                  661698       James Harden  BKN  BKN  LAL   38   33  ...
                  684853       James Harden  PHI  PHI  LAC   41   20  ...
                  687329       James Harden  PHI  DET  PHI   28   20  ...
                  687653       James Harden  PHI  PHI  DET   26   16  ...

                          DREB  REB  AST  STL  BLK  TOV  PF  +/-  win  season
player
Russell Westbrook 367876    10   13   13    0    2    4   2    0    1    2011
                  470811    12   15   16    4    0    3   4   19    1    2015
                  473485    10   11   14    4    1    2   1    3    1    2015
                  476356    11   14   11    3    0    4   3    4    0    2015
                  476481     8   13   11    1    0    6   1  -12    0    2015
...                        ...  ...  ...  ...  ...  ...  ..  ...  ...     ...
James Harden      657940    10   12   13    1    0    4   3   -9    0    2022
                  661698     9   12   11    2    1    6   1  -12    0    2022
                  684853    11   11   21    1    0    3   2   11    1    2023
                  687329    10   11   11    0    1    1   2    7    1    2023
                  687653    11   12   15    2    0    3   1   35    1    2023

[308 rows x 30 columns]